{% extends "layouts/default_layout.html" %}

{% block title %} Contact {% endblock %}

{% block navbar_title %} Brython Sample {% endblock %}

{% block content %}
<h4>Brython Sample (Python syntax to replace Javascript)</h4>

<p>
    The button color changes using Jquery and Python Syntax instead of Javascript.
</p>
<button id="mybutton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent"> Click Here</button>

<hr>
<h4>Frontend code used for changing the button CSS:</h4>

<pre style='color:#000000;background:#ffffff;'><span style='color:#800000; font-weight:bold; '>from</span> browser <span style='color:#800000; font-weight:bold; '>import</span> window<span style='color:#808030; '>,</span> document

jq <span style='color:#808030; '>=</span> window<span style='color:#808030; '>.</span>jQuery

window<span style='color:#808030; '>.</span>colors_index <span style='color:#808030; '>=</span> <span style='color:#008c00; '>0</span>

<span style='color:#696969; '>#Function that changes the color of the button</span>
<span style='color:#800000; font-weight:bold; '>def</span> change_button<span style='color:#808030; '>(</span>event<span style='color:#808030; '>)</span><span style='color:#808030; '>:</span>
    colors <span style='color:#808030; '>=</span> <span style='color:#808030; '>[</span><span style='color:#0000e6; '>"darkcyan"</span><span style='color:#808030; '>,</span> <span style='color:#0000e6; '>"green"</span><span style='color:#808030; '>,</span> <span style='color:#0000e6; '>"purple"</span><span style='color:#808030; '>,</span> <span style='color:#0000e6; '>"black"</span><span style='color:#808030; '>]</span>
    next_color<span style='color:#808030; '>=</span> colors<span style='color:#808030; '>[</span>window<span style='color:#808030; '>.</span>colors_index<span style='color:#808030; '>]</span>
    <span style='color:#800000; font-weight:bold; '>if</span> window<span style='color:#808030; '>.</span>colors_index <span style='color:#44aadd; '>&lt;</span> <span style='color:#400000; '>len</span><span style='color:#808030; '>(</span>colors<span style='color:#808030; '>)</span> <span style='color:#44aadd; '>-</span><span style='color:#008c00; '>1</span> <span style='color:#808030; '>:</span>
        window<span style='color:#808030; '>.</span>colors_index <span style='color:#44aadd; '>+</span><span style='color:#808030; '>=</span><span style='color:#008c00; '>1</span>
    <span style='color:#800000; font-weight:bold; '>else</span><span style='color:#808030; '>:</span>
        window<span style='color:#808030; '>.</span>colors_index <span style='color:#808030; '>=</span> <span style='color:#008c00; '>0</span>

    jq<span style='color:#808030; '>(</span><span style='color:#0000e6; '>'#mybutton'</span><span style='color:#808030; '>)</span><span style='color:#808030; '>.</span>css<span style='color:#808030; '>(</span><span style='color:#0000e6; '>"background-color"</span><span style='color:#808030; '>,</span> next_color<span style='color:#808030; '>)</span>


<span style='color:#696969; '>#Bind blick Button to the function</span>
document<span style='color:#808030; '>[</span><span style='color:#0000e6; '>'mybutton'</span><span style='color:#808030; '>]</span><span style='color:#808030; '>.</span>bind<span style='color:#808030; '>(</span><span style='color:#0000e6; '>'click'</span><span style='color:#808030; '>,</span> change_button<span style='color:#808030; '>)</span>
</pre>
<!--Created using ToHtml.com on 2019-06-01 23:42:57 UTC -->

<script type="text/python">
    from browser import window, document

    jq = window.jQuery

    window.colors_index = 0

    #Function that changes the color of the button
    def change_button(event):
        colors = ["darkcyan", "green", "purple", "black"]
        next_color= colors[window.colors_index]
        if window.colors_index < len(colors) -1 :
            window.colors_index +=1
        else:
            window.colors_index = 0

        jq('#mybutton').css("background-color", next_color)


    #Bind blick Button to the function
    document['mybutton'].bind('click', change_button)

</script>
{% endblock %}